@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("/background.png");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}
